* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  background-image: url(../images/sunset.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.3em;
  height: 150px;
}

main {
  flex-direction: column;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Julius Sans One", sans-serif;
}

.footer-container {
  opacity: 0.9;
  position: relative;
  bottom: 0;
  width: 100%;
}

.menu {
  box-shadow: none;
}
.menu li {
  display: inline-block;
  text-align: center;
  justify-content: center;
}
.menu li a {
  text-decoration: none;
  color: white;
  display: block;
  font-family: "Jaldi", sans-serif;
  font-size: 1.2em;
}
.menu li:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
}
.menu li a:hover {
  color: white;
}

.boton-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.active {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
}

.welcome-title, .tittle-contact, .entradatit, .prox-event, .nosotros-tittle {
  color: white;
  font-family: "Jaldi", sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.animate__animated {
  animation-duration: 3s;
  animation-delay: -0.5s;
}

.fotos {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  gap: 1%;
  justify-content: center;
  align-items: start;
}

.eventos {
  height: 50%;
  width: 40%;
  border-radius: 5%;
  color: white;
  border: 3px solid white;
  box-shadow: 10px 10px 5px black;
  margin-bottom: 5%;
  transition: 0.5ms;
  border-radius: 50%;
  opacity: 90%;
}
.eventos:hover {
  transform: scale(110%, 110%);
}

.party {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.party h2 {
  font-size: 1.2em;
  color: black;
  font-family: "Jaldi", sans-serif;
  background-color: beige;
  padding: 5%;
  border-radius: 10px;
}
.party p {
  font-family: "Jaldi", sans-serif;
  font-size: 1em;
  tab-size: 10%;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5%;
}

.nosotros-texto {
  font-family: "Jaldi", sans-serif;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  animation-duration: 2s;
}

.img-nos {
  border-radius: 50%;
  opacity: 0.9;
  margin-top: 5%;
}

.animate__backInLeft {
  animation-duration: 2s;
}

.animate__zoomOut {
  animation-duration: 5s;
}

.tit-event {
  font-family: "Jaldi", sans-serif;
  font-size: 1.5em;
}

.text-event {
  font-family: "Jaldi", sans-serif;
  font-size: 1.3em;
}

.video-ifr {
  margin: 3% 0 1% 0;
  width: auto;
}

.form-ctn {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.party-tall {
  height: 100%;
  justify-content: flex-start;
}

.entradas {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: auto;
  gap: 5%;
  width: 100%;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10%;
  margin-bottom: 10%;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.pases {
  border-radius: 5%;
  color: white;
  border: 3px solid #fff;
  box-shadow: 10px 10px 5px black;
  opacity: 80%;
}

.btn {
  text-decoration: none;
  padding: 3% 3%;
  display: inline-block;
  border-radius: 3px;
  border-style: groove;
}

.btn-green {
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 10px white;
  color: white;
}
.btn-green:hover {
  background-color: orange;
}

.contacto {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5%;
  margin: 5%;
}

.formulario {
  box-shadow: none;
  width: 100%;
}

.card-text {
  font-family: "Jaldi", sans-serif;
  font-size: 1.2em;
  color: white;
  background-color: transparent;
}

.boton-contacto {
  box-shadow: 0 2px 10px white;
  color: white;
}

.boton-contacto:hover {
  background-color: orange;
}

.mapa-iframe {
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  main {
    margin-bottom: 5%;
  }

  .nosotros-texto {
    margin-top: 3%;
  }

  .controls {
    margin-bottom: 5%;
    font-size: 1em;
  }

  .videos {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 990px) {
  header {
    flex-direction: column;
    height: 100%;
  }

  .menu {
    width: 100%;
    position: sticky;
  }
  .menu li {
    display: block;
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
  .menu li a {
    text-decoration: none;
    color: white;
    padding: 1.3em;
    display: block;
    font-family: "Julius Sans One", sans-serif;
  }

  .fotos {
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    gap: 2%;
  }

  .Ad-memb h2 {
    margin-top: 15%;
  }

  .entradas {
    grid-template-columns: 40% 40%;
    margin-bottom: 15%;
    margin-top: 5%;
  }

  .controls {
    margin-bottom: 5%;
    font-size: 1em;
  }
}
@media only screen and (max-width: 663px) {
  header {
    flex-direction: column;
    height: 100%;
  }

  .menu li {
    display: block;
  }

  .welcome-title, .nosotros-tittle, .prox-event, .entradatit, .tittle-contact {
    font-size: 1.5em;
    text-align: center;
  }

  .fotos {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 0.1fr;
  }
  .fotos .party {
    padding: 11%;
  }
  .fotos .partyh2 {
    font-size: 0.8em;
  }
  .fotos .party p {
    font-size: 1.2em;
    padding: 11%;
  }
  .fotos .eventos {
    width: auto;
    height: auto;
  }

  .prox-event {
    font-size: 1.5em;
  }

  .videos {
    grid-template-columns: 100%;
    grid-template-rows: 20%;
  }

  .entradas {
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    gap: 5%;
  }

  .pases {
    width: auto;
    height: auto;
  }

  .form-contact {
    width: auto;
  }

  .controls {
    margin-bottom: 5%;
    font-size: 1em;
  }

  .footer-p {
    font-size: 0.8em;
  }

  .footer-container {
    position: relative;
    bottom: 0;
  }

  .logos {
    width: 60%;
    height: auto;
    flex-direction: column;
  }

  .img-nos {
    width: 100%;
  }

  .nosotros-texto {
    width: 100%;
    padding: 5%;
    font-size: 1.2;
  }
}

/*# sourceMappingURL=style.css.map */
