*{margin:0;
    padding:0;
   }
   
body{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;

    background-image: url(../images/sunset.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
}
.header{
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding:1.3em;

}

main{
    flex-direction: column;
    display: flex;
    align-items: center;
    // justify-content: center;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    margin:2%;
    // margin-top: 5%;
    // margin-bottom: 20%;
}
 