.tittle-contact{
@extend .welcome-title;
}

.contacto{
       background-color:rgba(0,0,0,.6);
       border-radius: 4px;
       padding: 5%;
       border-radius: 5%;
}   
.formulario{
       box-shadow: none;
} 
.card-text{
       @include nosotros-texto($fontStyle, 1.2em, $colorFont, transparent);
}
.boton-contacto{
    box-shadow: 0 2px 10px white ;
    color: $colorFont;
}
     .boton-contacto:hover {
       background-color:orange;

}