/*----SECCION EVENTOS---*/
.prox-event{
    @extend .welcome-title;
}
.video-ifr{
    margin: 3% 0 1% 0;
    width: 83%;
}
.form-ctn{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.party-tall{
    height: 100%;
    justify-content: flex-start;
}
.boton a {
    color:white !important
}