.prox-event{
    @extend .welcome-title;
}

.tit-event{
   font-family: $fontStyle;
   font-size: $fontTam;
} 
.text-event{
    font-family: $fontStyle;
    font-size: 1.3em;
}
.video-ifr{
    margin: 3% 0 1% 0;
    width: auto;
}
.form-ctn{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.party-tall{
    height: 100%;
    justify-content: flex-start;
}