.prox-event{
    @extend .welcome-title;
}

.tit-event{
   font-family: $fontStyle;
   font-size: $fontTam;
} 
.text-event{
    font-family: $fontStyle;
    font-size: 1.3em;
}
.video-ifr{
    margin: 10%;
}
.form-ctn{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}