   
.welcome-title{
    color:$colorFont;
    font-family: $fontStyle;
    font-size: $fontTam;
    text-align: center;
} 
    .animate__animated{
        animation-duration: 3s;
        animation-delay: -0.5s;
    }


.fotos{
   
    display: grid;
    grid-template-columns:30% 30% 30%;
    grid-template-rows:auto;
    gap: 1%;
    justify-content: center;
    align-items:start;
    margin: auto;

}   


.eventos{
    width:50%;
    border-radius:5%;
    color: $colorFont;
    border:3px solid white;
    box-shadow: 10px 10px 5px black;
    margin-bottom: 5%;
    transition: 0.5ms;  
    border-radius: 50%;
    opacity: 90%;

    &:hover{
       transform: scale(110%,110%);
    }

}
.party{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & h2 {
      font-size: 1.2em; 
      color: black;
      font-family:$fontStyle;
      background-color: beige;
      padding: 2%;
      border-radius: 10px;
    }  
   
    & p{
     font-family: $fontP;
     font-size: 1em;
     tab-size: 10%;
     text-align: center;  
     justify-content:center;
     background-color: $colorBg;
     padding: 5%;
    }
}