/*----SECCION MEMBRESIAS---*/
.entradatit{
@extend .welcome-title;
}
.entradas{
    display: grid;
    grid-template-columns:35% 35% ;
    grid-template-rows:auto;
    gap:5%;
    width: 100%;
    justify-content: center;
    margin: auto;
}       
    .card{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10%;
      margin-bottom: 10%;    
      border: none;
      background-color: transparent;
      box-shadow: none;
    }
    .pases{
        border-radius:5%;
        color:$colorFont;
        border:3px solid #fff;
        box-shadow: 10px 10px 5px black;
        opacity: 80%;
    }


.btn{
    padding: 2% 2%;
    border-radius: 3px;
}    
.btn-green{
    background-color: $colorBg;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 10px white ;
    color: white;

    &:hover{
       background-color: orange;
    }
}  